schemas/xe_BUrequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.xe.gr"  xmlns:xs="http://www.w3.org/2001/XMLSchema"   xsi:noNamespaceSchemaLocation="xe_BUrequest.xsd">     
    <xs:element name="AddItemsRequest">            
        <xs:complexType>
            <xs:sequence>   
                 <xs:element name="Package.AuthToken" type="xs:string"/>
                 <xs:element name="Package.schemaVersion" type="xs:decimal"/>
                 <xs:element name="Package.id" type="xs:string"/>
                 <xs:element name="Package.timestamp" type="xs:dateTime"/>
                 <xs:element name="Package.trademark" type="xs:string"/>
                 <xs:element name="Package.policy" type="xs:string"/>

    <xs:element name="re_residence">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Item.ownerId" type="xs:integer"/>
                    <xs:element name="Item.majorPhone" type="xs:integer"/>
            </xs:sequence>  
        </xs:complexType>
    </xs:element> 
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>        
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="listing_id" type="xs:string"/>
                <xs:element name="Value" type="xs:integer"/>
             </xs:sequence>
        </xs:complexType> 
                </xs:element>

     <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                 
                <xs:element name="owner" type="xs:string"/>
                <xs:element name="Value" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>                        
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                
                <xs:element name="description" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
             </xs:sequence>
        </xs:complexType>                         
                </xs:element>

    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                
                <xs:element name="title" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>     
                </xs:element>   
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                
                <xs:element name="status" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                
                <xs:element name="modified_at" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>       
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="property_object_id" type="xs:string"/>
                <xs:element name="Value" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="address" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="aircondition" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="aircondition_number" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>                       
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="airy" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="alarm" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="balcony" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="balcony_size" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>   
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="bathrooms" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="bathrooms" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="bedrooms" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="bright" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="bus_distance" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="common_charges" type="xs:string"/>
                <xs:element name="Value" type= "xs:integer" nillable="true"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="construction_year" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="date_available_from" type="xs:string"/>
                <xs:element name="Value" type= "xs:integer" nillable="true"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="deposit" type="xs:string"/>
                <xs:element name="Value" type= "xs:integer" nillable="true"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="dishwasher" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>                     
                <xs:element name="double_glazed_windows" type="xs:string"/>
                <xs:element name="Value" type="xs:string"/>
            </xs:sequence>
        </xs:complexType> 
                </xs:element>    
    
        </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
